@import './styling/colors';
@import './styling/containers';
@import './styling/elements';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  color: $gray;
}

p {
  line-height: 1.6;
}