@import './mixins';
@import './colors';

// BUTTONS

.btn--primary {
  background: linear-gradient(270deg, #FFB258 -47.48%, #C26F41 131.72%);
  border: none;
  min-width: 10em;
  max-width: 15em;
  color: white;
  padding: 1em;
  font-size: 0.9em;
  width: 100%;
  border-radius: 1.5em;
  display: block;
  text-align: center;
  margin: 0.5em 0;
  cursor: pointer;


  span { 
    color: white; 
  }
}

.btn--secondary {
  @extend .btn--primary;

  background: white;
  border: 1px solid $orange;
  color: $orange;

}

.btn--disabled {
  @extend .btn--primary;

  background: #D6D6D6;
  border: 1px solid #a7a7a7;
  color: #a7a7a7;
  cursor: not-allowed;
}