$gray: #494949;
$lightGray: rgb(194, 194, 194);
$accentYellow: #E7AA41;
$primaryGreen: #4CAF50;
$paleGreen: #7fe083;
$ashBlue: #A1E0E6;

$gradient: linear-gradient(90deg, hsla(52, 75%, 56%, 1) 0%, hsla(152, 75%, 56%, 1) 100%);
