$gray: #494949;
$lightGray: rgb(194, 194, 194);
$accentYellow: #FFE000;
$ashBlue: #A1E0E6;

$gradient: linear-gradient(90deg, hsla(52, 75%, 56%, 1) 0%, hsla(152, 75%, 56%, 1) 100%);

// NEW COLORS
 
$primaryGreen: #00b300;
$darkGreen: #007d00;
$paleGreen: #cdf0cc;

$powderedBlue: #EBF1F4;

// NEW COLORS NA TALAGA
$textColor: #666666;
$teal: #00b3b3;
$orange: #FFB258;


// SUCCESS or ERROR colors
$red: #EF7272;
$paleRed: #F8DADA;
$green: #7ACE38;
$paleGreen: #E8FFE4;