// Defa
@mixin default-padding {
  padding: 0 1em;
}

@mixin flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

@mixin center-align {
  @include flex;
}

@mixin left-align {
  @include flex;
  justify-content: flex-start;
  text-align: left;
}

.home-container {
  @include default-padding;
}

.front-homepage {
  @include left-align;
  padding: 12em 0;
  height: 90vh;
  border-bottom: 1px solid $gray;

  h1 {
    color: $primaryGreen;
    margin-bottom: 0.5em;
  }
}

.button-holder {
  @include left-align;

  width: 50%;
  flex-direction: row;
  justify-content: space-between;
}