@import './mixins';

.default {
  padding: 1em;
}

.padding-top {
  padding-top: 9em;
}

.standard-cont {
  @include flex-left;
  width: 100%;

  padding: 4rem 1rem;
}

.front-homepage {
  @include flex-left;
  @include background('./assets/homepage.jpeg', 60% 50%, cover, no-repeat);

  align-items: flex-start;
  padding: 12rem 1rem;
  height: 90vh;

  h1 {
    color: $paleGreen;
    margin-bottom: 0.5em;
  }

  span {
    color: white;
    margin-bottom: 1em;
  }
}

.form-page {
  @include flex-center;

  padding-top: 2em;

  h2 {
    margin-bottom: 1em;
  }
}

.button-holder {
  @include flex-left;

  width: 50%;
  flex-direction: row;
  justify-content: space-between;
}

.login-page {
  @include flex-left;
  
  padding: 2em 1em;
  width: 100%;


  h2 {
    margin-bottom: 1em;
  }

  span {
    margin-bottom: 1.5em;

  }
}

.user-file {
  @include flex-left;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em 1em;
  border: 1px solid $lightGray;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  height: auto;
  
  .file-tag {
    @include flex-left;
    flex-direction: row;

    svg {
      fill: $ashBlue;
    }

    span {
      margin-left: 1em;
      overflow: hidden;
      width: 80%;
    }
  }

  svg {
    fill: $accentYellow;
  }
}

.file-container {
  margin-top: 1em;
}

.footer {
  background-color: $gray;
  padding: 3em 1em;
  
  span {
    color: white;
  }
}

.footer-contact {
  @include flex-left;
}

.getting-started {
  @include flex-left;

  padding: 9em 1em 3em 1em;
}

.developers-note {
  background-color: #fff6e6;
  border: 1px solid $accentYellow;
  border-radius: 1em;
  padding: 1em ;
  padding-top: 0;
  margin-bottom: 1em;

  p {
    font-size: 0.9em;
    line-height: 1.5;
  }
}