@import './mixins';
@import './breakpoints';

.center {
  @include flex(column, center, center);

  text-align: center;
}

.max-width {
  max-width: 1200px;
  min-height: 90vh;
}

.curved-container--white {
  background: white;
  min-height: 90vh;
  border-radius: 0 0 30px 30px;
}
                     
.gradient--gray {
  background: linear-gradient(180deg, #EBF1F4 0%, rgba(235, 241, 244, 0) 47.96%);
}

.gradient--blue {
  @include flex(column, center, center);

  padding: 1em;
  background: linear-gradient(180deg, #FEFFFF 0%, #E4F7F7 100%);
}

.dashboard--tag {
  @include flex(column, flex-start, flex-start);

  padding: 7em 1em;
  background: linear-gradient(104.41deg, #00B3B3 0.58%, #008181 99.19%);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;

  span {
    color: white;
  }

  .dashboard--name {
    font-size: 1.5em;
  }
}

.howitworks--img {
  background-image: url('./assets/physician.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 15em;
  background-repeat: no-repeat;
  width: 100%;
}

.homepage {
  @include flex(column-reverse, center, center);

  min-height: 80vh;
  @media ($laptop) {
    @include flex(row, center, center);
  }
}

.homepage--img {
  order: 3;
  padding-top: 10em;
  background-image: url("./assets/homepage--blob.png");
  background-position: 60% 80%;
  background-size: cover;
  
  mix-blend-mode: multiply;
  

  img {
    width: 100%;
    height: 100%; 
    max-width: 600px;
    object-fit: contain;
  }

  @media ($laptop) {
    width: 100%;
    border-radius: 0;
    background: white;
    box-shadow: none;
    padding: 0;

    img {
      padding: 0;
    }
  }
}

.homepage--text {
  @include flex(column, center, center);
  order: 2;
  padding: 0 1em;

  span {
    margin-bottom: 1em;
  }

  @media ($laptop) {
    @include flex(column, flex-start, flex-start);

    h1 {
      margin: 0;
    }
  }
}

.howitworks--container {
  @include flex(column, center, center);
  background-color: $powderedBlue;

  margin-bottom: 1em;
  padding: 1em;

  h2 {
    margin: 1em 0;
  }
}

.sign-in--container {
  @include flex(column, center, center);

  background: white;
  text-align: center;
  width: 100%;
  padding: 0 1em;
}

.registration--container {
  @extend .sign-in--container;

  padding: 9em 1em;
  @include flex(column, flex-start, flex-start);

  span {
    text-align: left;
  }
}

.sign-in--btn-container {
  margin-top: 2em;
}

.login--container {
  padding: 7em 1em;
  background: white;
  width: 90vw;
  margin: auto;
  height: 92vh;
  

  @include flex(column, center, center);
  
  span {
    text-align: center;
  }
}

.dashboard--container {
  background: white;
  padding: 1em;
  min-height: 90vh;

  .physiciandashboard--actions {
    h3 {
      margin: 2em 0 0.5em 0;
      color: $teal;
    }
  }
}

.physiciandashboard--actions--icon {
  @extend .file--individual;

  span {
    margin: 0;
  }

  svg {
    fill: $teal;
  }
}

.file--container {
  margin-top: 2em;

  h3 {
    color: $teal;
    margin-bottom: 0.5em;
  }
}

.file--individual {
  @include flex(row, center, center);

  background: #F9F9F9;
  border: 1px solid #D6E7E7;
  border-radius: 1em;
  padding: 1.5em 1em;
  margin-bottom: 1em;

  .download--icon {
    fill: $teal;
  }

  .file--icon {
    fill: $orange;
  }
  span {
    margin-left: 0.5em;
  }
}

.file--tag {
  @include flex(row, center, flex-center);
}

footer {
  @include flex(column, center, center);
  
  background-color: #0C4B4B;
  width: 100%;
  padding: 1em;
  text-align: left;

  .footer--max {
    @include flex(column, center, center);

    max-width: 1200px;
  }

  .footer--nav--container {
    @include flex(row, flex-start, space-between);

    a {
      display: block;
      font-size: 0.85em;
    }
  }

  .footer--links {
    @include flex(column, flex-start, flex-start);
    width: 60%;
    margin-bottom: 5em;
    opacity: 0.9;

    div {
      @include flex(row, flex-start, flex-start);

      margin-bottom: 1em;
      color: white;
      font-size: 0.85em;

      svg {
        fill: white;
        margin-right: 0.75em;
      }
    }

    .github--repo {
      @include flex(row, flex-start, flex-start);
      cursor: pointer;

      a {
        @include flex(row, flex-start, flex-start);
        font-size: 1em;
        color: white;
      }
    }
  }

  .footer--irmp {
    opacity: 0.8;
    @include flex(row, center, center);
    justify-content: space-between;
    border-top: solid 1px white;
    padding-top: 1em;

    span {
      color: white;
      font-size: 0.9em;
    }
  }
}

.generate-rx--container {
  @extend .curved-container--white;
  padding: 9em 1em 3em 1em;
}

.error-span--container {
  @include flex(row, center, center);

  background-color: $paleRed;
  border-radius: 1em;
  border: 1px solid $red;
  padding: 1em;

  span {
    color: $red;
  }
}

.success-span--container {
  @extend .error-span--container;

  background-color: $paleGreen;
  border: 1px solid $green;

  span {
    color: $green;
  }
}

.upload-success--container {
  @extend .curved-container--white;

  padding: 0 1em;
  padding-top: 9em;
}

.view-records--container {
  padding-top: 9em;
}

.icon--container {
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}

.icon-and-text {
  @include flex(column, center, center);
  padding: 1em;
  margin-bottom: 1em;

  svg {
    fill: $teal;
    margin-bottom: 0.5em;
  }
}

.admin--container {
  padding-top: 9em;
}

.for-approval--container {
  @include flex(column, flex-start, flex-start);
  background-color: rgb(237, 237, 237);
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 1em;
}