@import './mixins';
@import './colors';

// FORMS
.form--group {
  @include flex(column, center, center);

  align-items: flex-start;
  width: 100%;
  padding-top: 2em;
}

.form--label {
  font-size: 0.8em;
  font-kerning: normal;
  font-weight: 600;
  color: $teal;
}

.form--field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $gray;
  color: $gray;
  background: transparent;
  transition: border-color 0.2s;
  margin: 0.5em 0;
  padding: 0.5em;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form-label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.password-hidden {
  @include flex(row, center, center);

  flex-direction: row;
  align-items: center;
  font-size: 0.9em;

  svg {
    margin-right: 0.5em;
  }

  margin: 1em 0;
}

.password-shown {
  @extend .password-hidden;
}


.textarea {
  @extend .form--field;

  white-space: pre-line;
}