@import './mixins';
@import './colors';

// FORMS
.form--register {
  text-align: left;

  input {
    margin-bottom: 1em;
  }

  @media ($laptop) {
    max-width: 40%;
  }
}

.form--group {
  @include flex(column, center, center);

  align-items: flex-start;
  width: 100%;
  padding-top: 2em;
}

.form--label {
  font-size: 0.8em;
  font-kerning: normal;
  font-weight: 600;
  color: $teal;
}

.form--field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $gray;
  color: $gray;
  background: transparent;
  transition: border-color 0.2s;
  margin: 0.5em 0;
  padding: 0.5em;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form-label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.password-hidden {
  @include flex(row, flex-start, flex-start);

  flex-direction: row;
  align-items: center;
  font-size: 0.9em;
  cursor: pointer;

  svg {
    margin-right: 0.5em;
  }
}

.password-shown {
  @extend .password-hidden;
}


.textarea {
  @extend .form--field;

  white-space: pre-line;
}

.upload--form {
  div {
    @include flex(column, center, center);
  }
}

.custom-file-upload {
  cursor: pointer;
  
  input {
    display: none; // Change the display to none so it becomes customizable with the label
  }

  svg {
    fill: $teal;
  }

  @include flex(column, center, center);
  text-align: center;
  padding: 2em;
  border-radius: 1em;
  background-color: $paleTeal;
  width: 100%;
  border: 1px dashed $teal;
}

.file-upload-info {
  text-align: left;
  margin-top: 1em;
}

.radio-btn {
  margin-right: 2em;

  input {
    margin-right: 1em;
  }
}

.pw-verify--match {
  color: $green;
  margin: 1em 0;
}

.pw-verify--not-match {
  @extend .pw-verify--match;
  color: $red;
}

