@import './colors';

// NAV BAR
.nav-icon {
  size: 1.5em;
  order: 2;

  path {
    fill: $primaryGreen;
    font-size: 1.5em;
  }
}

.button-icon {
  size: 1.5em;
  margin-right: 0.5em;

  path {
    fill: white;
    font-size: 1.5em;
  }
}



