@import './mixins';

.homepage-image-banner {
  @include background('./assets/homepage2.jpg', 60% 50%, cover, no-repeat);
  @include flex-left;
  height: 40vh;

  padding-top: 3em;

  h3 {
    color: white;
    font-size: 1.5rem;
    padding-left: 1em;
  }
}

.login-image {
  @include background('./assets/health-record.jpg', 50% 50%, cover, no-repeat);
  
  width: 100%;
  padding: 10em 1em 5em 1em;

  h2 {
    color: $paleGreen;
  }

  span {
    color: white;
  }
}

.login-portal-image {
  @include background('./assets/patient.jpg', 80% 110%, contain, no-repeat);
  
  width: 100%;
  padding: 10em 1em 3em 1em;

  h3 {
    font-size: 1.5em;
    color: white  
  }

  p {
    color: white;
    font-size: 0.9em;
  }
}

.physicians-login-img {
  @extend .login-portal-image;

  @include background('./assets/physician.jpg', 80% 110%, contain, no-repeat);
}