// ALL COMMONLY-USED PREFERENCES FOR STYLING GOES HERE

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin flex-center {
  background-color: red;
}

@mixin flex-left {
  background-color: red;
}

@mixin background(
  $path, 
  $position:0 0, 
  $size: center, 
  $repeat: no-repeat, 
  $degrees: 90deg) {
    background: linear-gradient($degrees, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%), url($path);

    background: {
        position: $position;
        size: $size;
        repeat: $repeat;
  }
}