@import './mixins';
@import './buttons';

.nav--bg {
  @include flex(row, center, center);
  background-color: $darkTeal;
  position: absolute; 
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 5em;
  z-index: 1;
  padding: 1em;
  margin: auto;
}

.nav {
  @include flex(row, center, space-between);
  max-width: 1200px;

  span {
    order: 1;
    font-weight: 600;
    color: white;
    font-size: 0.9em;
  }
}

.nav--transparent {
  @extend .nav;

  background-color: transparent;
}

.nav--icon {
  size: 1.5em;
  order: 2;

  path {
    fill: $teal;
    font-size: 1.5em;
  }
}

.navbar--btn {
  background-color: transparent;
  color: white;
  border: none;
  order: 2;
  font-size: 0.9em;
}

.nav-sidebar--overlay {
  z-index: 2;
  position: sticky;
  height: 100vh;
  top: 0;
  bottom: 0;
  background:pink;
  // background-color: rgba(7, 7, 7, 0.301); 
}

.nav-sidebar--container {
  @include flex(row, flex-end, flex-start);

  background-color: white;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

.sidebar-not-logged-in {

  @include flex(column, flex-start, space-between);

  height: 100%;
  padding: 1.25em;

  svg {
    order: 1;
  }

  ul {
    padding: 2em 0;
    order: 2;

    li {
      list-style-type: none;
      padding: 1em 0;
    }
  }
}

.github-repo-link {
  order: 3;
  border-top: 1px solid $primaryGreen;

  a {
    @include flex(row, center, flex-start);
    padding: 1em 0;

    span {
      margin-left: 0.5em;
      font-weight: 100; 
    }
  }
}





.sidebar-logged-in {
  .action-with-icon {
    padding-left: 1.25em;
  }

  form {
    margin-top: 7em;
  }
}

.account-header {
  padding: 2.5em 1.25em;
  background: $gradient;

  @include flex-left;

  svg {
    fill: white;
  }

  .sample-user-image {
    @include flex-center;
    
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: white;
    margin-top: 2em;
  
    span {
      color: $primaryGreen;
    }
  }
  
  .user-full-name {
    color: white;
    font-weight: 400;
    margin-top: 0.5em;
    font-size: 1.25em;
  }
  
  .username {
    font-weight: 100;
    color: white;
    font-size: 0.9em;
  }

}

.action-with-icon {
  @include flex-left;
  flex-direction: row;
  align-items: center;
  margin: 1em 0;

  button {
    background: none;
    border: none;
    font-size: 1em;
    margin-left: 0.75em;
  }

  svg {
    fill: $primaryGreen;
  }
}