@import './colors';

.colored-text {
  color: $paleGreen;
}

.heading {
  @include flex-left;
  align-items: center;
  flex-direction: row;
  margin: 1em 0;
  width: 100%;

  path {
    fill: $primaryGreen;
  }
  
  h2 {
    margin-left: 0.5em;
    color: $primaryGreen;
  }

  span {
    color: $primaryGreen;
    font-weight: 600;
    font-size: 1em;
    margin: 0;
    margin-left: 0.5em;
  }
}

.block-text {
  margin: 1rem 0;
}

.all-caps {
  font-size: 0.75rem;
  font-kerning: normal;
}

.dev-note-text {
  path, span {
    fill: $accentYellow;
    color: $accentYellow;
  }
}